@import "tailwindcss";

:root {
  --background: #0b1326;
  --foreground: #dae2fd;

  --surface-container-lowest: #060e20;
  --surface-container-low: #131b2e;
  --surface-container: #171f33;
  --surface-container-high: #222a3d;

  --surface-variant: #2d3449;

  --primary: #89ceff;
  --secondary: #4fdbc8;

  --on-surface: #dae2fd;
  --on-surface-variant: #bec8d2;

  --outline-variant: #3e4850;

  --primary-container: #0ea5e9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

/* ADD THIS HERE */
.glass-panel {
  background: rgba(23, 31, 51, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(62, 72, 80, 0.5);
}